.Overview{
    padding: 24px;
    padding-bottom: 0;
    height: calc(100% - 24px);
    display: flex;
    flex-direction: column;
    color: #141414;
}
.ov-header{
    display: flex;
    margin: 20px auto;
    font-size: 30px;
    align-items: center;
    cursor: pointer;
}
.ov-header-name{
    margin-right: 10px;
}
.ov-box{
    background: #fff;
    border-radius: 24px;
    padding: 24px;
    text-align: left;
    flex: 1;
    overflow: auto;
    margin-bottom: 30px;
}
.ov-side{
    font-size: 25px;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}
.ov-side::before, .ov-side::after {
    display: inline;
    content: "";
    width: 100%;
    margin: 0 10px;
    height: 2px;
    background-color: #141414;
}
.ov-component{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.ov-component-details{
    margin-left: 10px;
}
.ov-component-setting{
    font-size: 15px;
    font-weight: lighter;
    color: gray;
}
.ov-component-price{
    margin-left: auto;
}
.ov-price{
    display: flex;
    align-items: center;
    font-size: 25px;
    margin-top: 35px;
}   
.ov-price-number{
    margin-left: auto;
    font-size: 35px;
}
.ov-button{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-top: 2px solid black;
    text-transform: uppercase;
    font-size: 25px;
}