.component {
    margin-top: 40px;
}

h3 {
    width: 90%; 
    text-align: center; 
    border-bottom: 0.8px solid #bbbbbb; 
    line-height: 0.1em;
    margin: 10px auto 20px; 
    font-size: 16px;
    font-weight: 200;
    color: #6F6F70
}

h3 span {
    background:#eee; 
    padding: 0 15px; 
}