.Panel{
    position: absolute;
    right: 50px;
    top: 5%;
    margin-top: 40px;
    width: 400px;
    height:calc(90% - 40px);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    background: #EEEEEE;
    overflow: hidden;
    border-radius: 20px;
    padding: 20px;
}
.swiper{
    height: 100%;
    z-index: 0 !important;
}
#swiper-pagination{
    display: block;
}