.Panel{
    position: absolute;
    right: 50px;
    top: 5%;
    margin-top: 40px;
    width: 400px;
    height:calc(90% - 40px);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
    background: #EEEEEE;
    overflow: hidden;
    border-radius: 20px;
    padding: 20px;
}
.mp-icons{
    display: flex;
    justify-content: center;
}
.mp-icon{
    margin: 20px;
    display: inline-block;
}
.mp-icon-img{
    height: 20px;
}

.swiper{
    height: 100%;
}
.mp-info{
    height: 200px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.mp-info-left{
    margin: auto 20px;
    text-align: left;
    font-weight: bold;
}
.mp-name{
    font-size: 50px;
    margin-bottom: 5px;
}
.mp-price{
    font-size: 20px;
    margin-bottom: 20px;
}
.mp-dot{
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}
.mp-info-right{
    margin: auto 20px;
}
.mp-thumbnail{
    
}
.mp-description{
    margin-top: 20px;
}


.pa-button{
    background-color: #000000;
    transition: background .3s ease;
    color: white;
    padding: 14px 20px;
    margin: 20px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}