.SizeChooser{
    position: absolute;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.sc-elements{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: self-end;
    flex-direction: column;
    flex-direction: row;
}
.sc-element{
    cursor: pointer;
    transition: opacity .2s ease, transform .2s ease;
    opacity: 0.6;
    margin-bottom: 20px;
}

.sc-element:hover{
    opacity: 1;
    transform: translateY(-10px);
}
.sc-img{
    display: inline-block;
    width: 50%;
}
.sc-text{
    margin-bottom: 70px;
}
@media only screen and (max-width: 500px) {
    .sc-elements{
        flex-direction: column;
    }
    .sc-element:first-child{
        margin-right: 0px;
    }
    .sc-element{
        align-self: center;
    }
}