.col-6 .col-6 {
    width: 50%;
}
.st-block{
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.st-setting{
    background: white;
    border-radius: 30px;
    padding: 12px 30px;
    margin: 25px 0px;
    text-align: left;
    filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.1));
    width: 220px;
    display: flex;
}

.st-acc {
    background: white;
    border-radius: 24px;
    text-align: left;
    filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.1));
}

.st-acc-head {
    display: flex;
    flex-wrap: wrap;
    background-color: #242328;
    border-radius: 24px 24px 0 0;
    padding: 48px 0;
    margin: 0 -24px;
}


.st-acc-head h2 {
    color: #fff;
    word-break: break-word;
}

.st-acc-pic{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.st-acc-overview p{
    color: white;
    font-size: 32px;
    font-weight: 200;
    margin-bottom: 25px;
}

.st-acc-overview button{
    color: white;
    background-color: transparent;
    font-size: 16px;
    border: 2px solid white;
    padding: 7px 70px;
    cursor: pointer;
}

.st-acc-overview button:hover{
    color: #242328;
    background-color: white;
}

.st-acc-row {
    display: flex;
    border-bottom: 2px solid #f0f0f0;
    margin: 0 -24px;
    padding: 0 24px;
}