/* Button */
.br-button{
    position: absolute;
    left: 20px;
    top: 20px;
    cursor: pointer;
    background: rgba(177, 177, 177, 0.3);
    transition: background .3s ease;
    border-radius: 10px;
    height: 50px;
    width: 50px;
}
.br-button:hover{
    background: rgba(134, 134, 134, 0.7);
}
.br-button-icon{
    width: 30px;
    height: 30px;
    padding: 10px;
}

/* Dialogue */
.br-dialogue{
    top: 0;
    width: 100%;
    height: 100%; 
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background: #000000d0;
}
.br-dialogue-container{
    background: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    width: 1200px;
    height: 800px;
    position: relative;
}
.br-loadingscreen{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
.br-animation{
    fill: #761104;
    width: 200px;
    height: 200px;
    margin-top: 350px;
}
.br-input{
    width: 25%;
    padding: 8px 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
}
.br-dialogue-button{
    background-color: #761104;
    transition: background .3s ease;
    color: white;
    padding: 14px 20px;
    margin: 20px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.br-dialogue-rendering-container{
    height: calc(100% - 200px);
}
.br-dialogue-rendering{
    width: 100%;
    height: 100%;
    object-fit: cover;
}