.component {
    margin-top: 40px;
}

.side {
    font-family: 'AvantGarde';
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    margin-top: 24px;
    margin-bottom: 0;
}

.Panel h3 {
    text-align: center; 
    border-bottom: 1px solid #bbbbbb; 
    line-height: 0.1em;
    margin: 10px auto 30px; 
    font-size: 18px;
    font-weight: 200;
    color: #6F6F70
}


.Panel h4 {
    font-family: 'AvantGarde';
    font-size: 19px;
    font-weight: 100;
    line-height: 24px;
    margin: 0;
    margin-bottom: 24px;
}

.Panel .h3 span {
    background: #F0F1F2;
    padding: 0 15px; 
}