.Orders{
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    font-size: 18px;
}

.or-no-orders-text{
    margin-bottom: 40px;
}
.or-button{
    padding: 8px 0px;
    margin: 0px auto;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
    width: 500px;
}
.or-button_hover{
    background: rgb(172, 172, 172);
}