.Orders{
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    font-size: 18px;
    overflow-y: auto;
}
.or-block{
    background: #EEEEEE;
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 60px;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
}
.or-block:last-child{
    margin-bottom: 0px;
}
.or-row{
    padding: 20px 30px;
    border-bottom: 2px solid rgb(165, 165, 165);
}
.or-row:last-child{
    border-bottom: none;
}
.or-row-1{
    display: flex;
}
.or-number{
    margin-left: auto
}
.or-row-2{
    display: flex;
}
.or-Thumbnail{
    width: 40%;
}
.or-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-left: 30px;
}
.or-name{
    font-size: 25px;
    margin-bottom: 20px;
}

.or-delivered{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.or-buttons{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.or-button{
    padding: 10px 40px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.or-button:hover{
    background: rgb(150, 150, 150);
}
.or-row-3{
    text-align: left;
    display: flex;
    cursor: pointer;
}
.or-part-icon{
    margin: 0px 10px;
    color: #707070;
}
.or-dorpDown-icon{
    margin-left: auto;
}
.or-row-4{
    text-align: left;
    font-weight: bold;
}