.Panel{
    position: absolute;
    left: 72px;
    top: 96px;
    bottom: 24px;
    width: 480px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    overflow: hidden;
    border-radius: 24px;
    background-color: #fff;
}
.Panel .swiper{
    height: 100%;
    width: 100%;
}
#swiper-pagination {
    position: absolute;
    width: 100%;
    top: 0px;
    z-index: 9;
    bottom: unset;
}
.Panel .swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
    margin: 19px 7px !important;
}
.Panel .swiper-pagination-bullet-active {
    background: #000!important;
}
.Panel .columnSelector {
    font-family: 'AvantGarde';
}

@media only screen and (max-width: 767px) {
    .Panel {
        width: 100%;
        top: calc(100% - 176px);
        left: 0;
        height: 80%;
        border-radius: 24px 24px 0 0;
    }
}