.sc-button{
    padding: 10px 40px;
    margin: 10px;
    border-radius: 5px;
}

.sc-to-checkout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sc-to-checkout-link {
    color: inherit;
    text-decoration: none;
}

.button-inactive {
    border: 2px solid lightgray;
    color: lightgray;
}

.button-active {
    border: 2px solid black;
    cursor: pointer;
}

.button-active:hover {
    background: rgb(150, 150, 150);
}

