.sc-button{
    padding: 10px 40px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.sc-button:hover{
    background: rgb(150, 150, 150);
}
.sc-to-checkout {
    display: flex;
    justify-content: center;
    align-items: center;
}