.Orders{
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    font-size: 18px;
    overflow-y: auto;
}
.sc-block{
    background: #EEEEEE;
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 60px;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
}
.sc-block:last-child{
    margin-bottom: 0px;
}
.sc-row{
    padding: 20px 30px;
    border-bottom: 2px solid rgb(165, 165, 165);
}
.sc-row:last-child{
    border-bottom: none;
}
.sc-row-1{
    display: flex;
}
.sc-number{
    margin-left: auto
}
.sc-row-2{
    display: flex;
}
.sc-thumbnail{
    width: 40%;
}
.sc-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-left: 30px;
}
.sc-name{
    font-size: 25px;
    margin-bottom: 20px;
}
.sc-delivered {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.sc-buttons{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sc-button{
    padding: 10px 40px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.sc-button:hover{
    background: rgb(150, 150, 150);
}

.sc-to-checkout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sc-row-3{
    text-align: left;
    display: flex;
    cursor: pointer;
}
.sc-part-icon{
    margin: 0px 10px;
    color: #707070;
}
.sc-dorpDown-icon{
    margin-left: auto;
}
.sc-row-4{
    text-align: left;
    font-weight: bold;
}

.sc-part-row {
    display: flex;
    align-items: center;
    padding-left: 18px;
    padding-right: 32px;
    font-weight: bold;
    font-size: 16px;
}

.sc-part-row > * {
    flex-basis: 100%;
}

.sc-part-info {
    font-weight: lighter;
}

.sc-part-name {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sc-part-price{
    text-align: right;
}