.head {
    width: 100vw;
    height: 90vh;
}

.head-main {
    background: url('../../Assets/head-backdrop.png');
    background-size: cover;
    width: 100%;
    height: 100%;
}

.head-overlay{
    position: absolute;
    top: 401px;
    left: 835px;
    width: 482px;
    color: white;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.5;
}

.head-overlay button {
    margin-top: 45px;
    padding: 0;
    color: #E83352;
    background: transparent;
    width: 500px;
    height: 92px;
    border:4px solid #E83352;
    border-radius: 250px;
    font-size: 38px;
    cursor: pointer;
}

.head-overlay button:hover {
    background-color: #E83352;
    color: white;
    animation-name: buttonHover;
    animation-duration: 0.4s;
}

@keyframes buttonHover {
    from {background-color: transparent; color: #E83352}
    to {background-color: #E83352; color: white}
}