
.orc-block{
    background: #EEE;
    margin-bottom: 100px;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
}
.orc-block:last-child{
    margin-bottom: 0px;
}
.orc-row {
    padding: 12px 24px;
    border-bottom: 1px solid rgb(165, 165, 165);
}
.orc-row:last-child{
    border-bottom: none;
}
.orc-row-1{
    display: flex;
}
.orc-number{
    margin-left: auto
}
.orc-row-2{
    display: flex;
}
.orc-Thumbnail{
    max-height:100%;
}
.orc-Thumbnail-container {
    max-height: 220px;
    width: 25%;
}
.orc-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-left: 24px;
}
.orc-name{
    font-size: 24px;
    margin-bottom: 24px;
}
.orc-buttons{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.orc-button{
    padding: 12px 48px;
    margin: 12px 0;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}
.orc-button:hover{
    background: rgb(150, 150, 150);
}
.orc-row-3{
    text-align: left;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    background: #F5F5F5;
}
.orc-dropdown{
    transition: max-height 1s ease;
    overflow: hidden;
}
.orc-part-icon{
    margin: 0px 12px;
    color: #707070;
    user-select: none;
}
.orc-dorpDown-icon{
    margin-left: auto;
    user-select: none;
    float: right;
}
.orc-row-4{
    text-align: left;
    font-weight: bold;
    background: #F5F5F5;
}
.orc-part-row {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
}
.orc-part-row:first-child{
    margin-top: 24px;
}
.orc-part-row > * {
    flex-basis: 100%;
}
.orc-part-name{
    display: flex;
    align-items: center;
    gap: 12px;
}
.orc-part-info{
    font-weight: lighter;
}
.orc-part-price{
    text-align: right;
}