.CustomerDataSelector {
    width: 100%;
}


#csd-shipment-swiper, #csd-payment-swiper {
    filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.1));
    z-index: 0 !important;
}


.st-shipment-pay {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.st-shipment-pay-container {
    margin: 25px 0px;
}


.st-shipment-pay-options {
    display: flex;
    justify-content: space-between;
    width: 440px;
    height: 230px
}

#csd-shipment-swiper, #csd-payment-swiper {
    filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.1));
    z-index: 0 !important;
    margin: 25px 0px;
    height: 0;
    padding-bottom: 100%;
}

.CustomerDataSelector .swiper-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
}
.swiper-slide-content p {
    margin: 0;
    margin-bottom: 4px;
}
/* Swiper needs specific class names, prevents other pages to get affected by the local CSS-Styles*/
#csd-shipment-swiper .swiper-wrapper .swiper-slide, #csd-payment-swiper .swiper-wrapper .swiper-slide {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 24px;
    padding: 24px 24px 0 24px;
}

.swiper-slide-content {
    text-align: left;
    height: calc(100% - 10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.swiper-slide-content img {
    width: 100%;
    margin-bottom: 10px;
}
.swiper-slide-content p {
    word-break: break-word;
    margin: 0;
}

/* For mobile phones: */
@media only screen and (max-width: 767px) {
    .st-shipment-pay-container {
        padding: 0;
    }
    .st-acc-head {
        margin: 0 -12px;
    }
    .st-acc-row {
        margin: 0 -12px;
        padding: 0 12px;
    }
    #csd-shipment-swiper .swiper-wrapper .swiper-slide, #csd-payment-swiper .swiper-wrapper .swiper-slide {
        padding: 12px;
    }
  }





.st-delete {
    display: flex;
    cursor: pointer;
    justify-content: center;
    margin: 0 -24px;
    padding: 6px;
    border-top: 2px solid #d3d3d3;
    border-radius: 0 0 24px 24px;
}
.st-delete:hover{
    background: rgb(233, 233, 233);
}
.st-addAdress{
    border-radius: 24px;
    border: 2px dashed #000;
    margin: 25px 0px;
    cursor: pointer;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    opacity: .6;
    transition: all .3s;
}

.st-addAdress:hover{
    border: 2px solid black;
    opacity: .8;
    background-color: #fff;
}
.st-addAdress-content {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.st-addAdress-plus {
    font-size: 90px;
    margin: 0;
    width: 100%;
}

.st-addAdress-add {
    display: flex;
    text-align: center;
    height: 50%;
    vertical-align: middle;
    align-items: center;
    word-break: break-word;
}
.st-addAdress-add p {
    width: 100%;
}
