.columnSelector{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    list-style-type: none;
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 0;
    flex-direction: row;
}
.cs-button-container{
    border: 2px solid #000;
    border-radius: 12px;
    width: calc(33% - 15px);
    display: flex;
    align-items: center;    
}
.cs-button{
    font-size: 14px;
    font-weight: 800;
    text-align: center;
    cursor: pointer;
    transition: background .2s ease;
    width: 100%;
    padding: 12px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.cs-button:hover{
    background-color: black;
    color: white;
}
.cs-button-input{
    display: none;
}
.cs-button-input:checked + .cs-button{
    background-color: black;
    color: white;
    border-radius: 10px;

}