.columnSelector{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 24px;
    gap: 24px;
    list-style-type: none;
    width: 79%;
    margin: 0 auto 0 auto;
    padding: 0;
    flex-direction: row;
}
.cs-button-container{
    margin: 5px;
}
.cs-button{
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    cursor: pointer;
    transition: background .2s ease;
}
.cs-button:hover{
    background-color: black;
    color: white;
}
.cs-button-input{
    display: none;
}
.cs-button-input:checked + .cs-button{
    background-color: black;
    color: white;
}