.li-button{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    background: rgba(177, 177, 177, 0.3);
    transition: background .3s ease;
    border-radius: 10px;
    height: 50px;
}
.li-button:hover{
    background: rgba(134, 134, 134, 0.7);
}
.li-button-icon{
    width: 30px;
    height: 30px;
    padding: 10px;
}
.li-dialogue{
    top: 0;
    width: 100%;
    height: 100%; 
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background: #000000d0;
}
.li-dialogue-container{
    background: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    width: 600px;
}

.li-title{
    margin: 0;
}
.li-register-container .li-title{
    margin-top: 50px;
}

.li-register-toggle {
    text-decoration: underline;
    cursor: pointer;
}

.li-register-toggle:active {
    color: lightblue;
}

.li-form-input{
    width: 100%;
    padding: 8px 12px;
    margin-top: 5px;
    margin-bottom: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 15px;
}

.li-input-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.li-form-title{
    text-align: left;
    margin: 0px;
    font-size: 20px;
}

.li-input-err{
    text-align: right;
    margin: 0px;
    font-size: 18px;
    color:red;
}

.li-form-button{
    width: 100%;
    background-color: #761104;
    transition: background .3s ease;
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.li-form-button:hover{
    background-color: #300600;
}
.li-error{
    color: red;
}

.fade-enter {
    opacity: 0;
}
.fade-enter-active {
    opacity: 1;
    transition: opacity .4s;
}
.fade-exit {
    opacity: 1;
}
.fade-exit-active {
    opacity: 0;
    transition: opacity .4s;
} 