body{
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 15px;
}
body::-webkit-scrollbar-track {
  background-color: rgb(206, 206, 206);
  border-radius: 20px;
}
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 20px;
}

@font-face {
  font-family: AvantGarde;
  src: url(/src/Assets/Fonts/ITCAvantGardeStd-Demi.otf);
  font-weight: demi;
  font-style: normal;
}
@font-face {
  font-family: AvantGarde;
  src: url(/src/Assets/Fonts/ITCAvantGardeStd-Md.otf);
  font-weight: medium;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
