body {
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  margin-top: 75px;
  background-color: #FCFBF9;
}

html {
  scroll-behavior: smooth;
}


/* Text */
h1{
  font-family: 'AvantGarde';
  font-size: 40px;
  border-bottom: hidden;
  padding-top: 20px;
  z-index: 10;
}

h2{
  font-family: 'AvantGarde';
  font-size: 40px;
  border-bottom: hidden;
  padding-top: 20px;
  z-index: 10;
}

p {
  font-size: 16px;
}

/* For mobile phones: */
@media only screen and (max-width: 499px) {
  p  {   font-size: 14px; }
  h2 {   font-size: 30px; }
}


/* Grid-system */

.grid-container {
  max-width: 1124px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.grid-container::after {
  content: "";
  clear: both;
  display: table;
}



[class*="col-"] {
  float: left;
  padding: 0 24px;
  width: 100%;
}

@media only screen and (max-width: 767px) {
  [class*="col-"] {
    padding: 0 12px;
}
}

/* For mobile phones: */
@media only screen and (max-width: 499px) {
  .col-s-0 {display:none;}
}

  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}

@media only screen and (min-width: 500px) {
  /* For tablets: */
  .col-m-1 {width: 8.33%;}
  .col-m-2 {width: 16.66%;}
  .col-m-3 {width: 25%;}
  .col-m-4 {width: 33.33%;}
  .col-m-5 {width: 41.66%;}
  .col-m-6 {width: 50%;}
  .col-m-7 {width: 58.33%;}
  .col-m-8 {width: 66.66%;}
  .col-m-9 {width: 75%;}
  .col-m-10 {width: 83.33%;}
  .col-m-11 {width: 91.66%;}
  .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}


body::-webkit-scrollbar {
  width: 15px;
}
body::-webkit-scrollbar-track {
  background-color: rgb(206, 206, 206);
  border-radius: 20px;
}
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 20px;
}

@font-face {
  font-family: AvantGarde;
  src: url(/src/Assets/Fonts/ITCAvantGardeStd-Demi.otf);
  font-weight: demi;
  font-style: normal;
}
@font-face {
  font-family: AvantGarde;
  src: url(/src/Assets/Fonts/ITCAvantGardeStd-Md.otf);
  font-weight: medium;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
